/* iframe 부분 */
.new-window-box {
  position: fixed;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

/* 기능 헤더 부분 */
.function-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 메인 부분 */
.main {
  min-height: 100vh;
  min-width: 100vh;
}

.line-container {
  display: flex;
  align-items: center;
}

.station-box-number {
  width: 30px;
  height: 30px;
  background-color: #0c2461;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.station-box-container {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px;
}

.station-box__label {
  margin-bottom: 10px;
}

.station-box {
  width: 130%;
  display: flex;
  justify-content: center;
  background-color: #0c2461;
}

.station-box .station-box__button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.station-infobox{
  width : 30px;
  height: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: cornsilk;
}


/* footer 부분 */
.footer {
  width: 100%;
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.express-train {
  background-color: #e74c3c;
  color: white;
  width: 60px;
  height: 60px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60%;
  margin-right: 10px;
}
